name: Publish package to NPM and GitHub registry

on:
  release:
    types: [created]

jobs:
  publish:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - registry: https://registry.npmjs.org/
            token_secret_key: NPM_TOKEN
          - registry: https://npm.pkg.github.com/
            token_secret_key: GITHUB_TOKEN
    steps:
      - name: Checkout repository
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # tag=v3
      - name: Setup Node.js
        uses: actions/setup-node@17f8bd926464a1afa4c6a11669539e9c1ba77048 # tag=v3.2.0
        with:
          node-version-file: .node-version
          cache: "npm"
          check-latest: true
          registry-url: ${{ matrix.registry }}
      # - name: Build TypeScript project
      #   run: npm ci && npm run build
      - name: Publish package to npm and GitHub packages registry
        run: npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets[matrix.token_secret_key] }}
